body {
  background-color: pink;
  color: blueviolet;
  font-family: "Caveat", cursive;
  font-size: 150%;
}

/** FOOTER */
footer {
  background-color: gray;
  padding: 10px;
  color: white;
  font-family: Calibri, sans-serif;
}

@media (display-mode: fullscreen) {
  .fs-inv {
    display: none;
  }
}

@media not (display-mode: fullscreen) {
  .fs-vs {
    display: none;
  }
}

/** HEADER */
/* PFP */
#header-nav {
  background-color: rgb(255, 182, 122);
}

/* xs only */
@media (max-width: 575.98px) {
  .logo-img {
    border-radius: 50%;
    width: 50px;
    margin: 10px 20px 10px 10px;
  }
}

/* sm and up */
@media (min-width: 576px) {
  .logo-img {
    border-radius: 50%;
    width: 80px;
    margin: 10px 30px 10px 0;
  }
}

/* TITLE */
.navbar-brand {
  font-family: "Playwrite US Modern", cursive;
}

/* xs only */
@media (max-width: 575.98px) {
  .navbar-brand h1 {
    font-size: 1.25rem;
  }
}

.navbar-brand h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-brand a {
  text-decoration: none;
  color: rgb(75, 200, 255);
}

/* SOCIALS */
#logo-tiles {
  height: 36.7px;
  width: 120px;
  margin-left: 5px;
}

#logo-soc {
  list-style-type: none;
  margin: 0;
  padding-left: 3px;
}

#logo-soc img {
  width: 17px;
  margin: 5px;
}

#logo-soc img:hover {
  width: 25px;
}

/* MENU */
/* md and up */
@media (min-width: 768px) {
  .menu-no-flex {
    flex: none;
  }
}

.nav-link.active {
  font-weight: 500;
}

/* sm and down */
@media (max-width: 767.98px) {
  #navbarSupportedContent a {
    font-size: 0.8em;
  }
}

/** CONTENT */
/* JUMBOTRON */
.jumbotron {
  background: url(/img/jumbotron.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: rgb(255, 215, 220)
}

.jumbotron .highlight {
  border-radius: 25px;
  padding: 0px 10px;
  background-color: rgb(0, 180, 180);
}

.jumbotron h1 {
  padding-top: 20vh;
  color: rgb(128, 50, 128);
}

.jumbotron h1>.highlight {
  background-color: rgb(255, 215, 220);
}

/* xs only */
@media (max-width: 575.98px) {
  .jumbotron p {
    font-size: 5vw;
  }
}

/* TILES */
#home-tiles>div {
  height: 200px;
}

#home-tiles>div>a {
  text-decoration: none;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  color: white;
  font-size: xx-large;
}

#home-tiles>div>a:hover {
  width: 200px;
  height: 200px;
}

#home-tiles>div>a>span {
  border-radius: 25px;
  padding: 0px 10px;
  background-color: rgba(0, 180, 180, 0.8);
}

#projects-tile {
  background-image: url(/img/profile-pic.jpg);
}

#music-tile {
  background-image: url(/img/profile-pic.jpg);
}

#travels-tile {
  background-image: url(/img/profile-pic.jpg);
}

/** ========== PROJECTS ========== */
/** ===== BG-DEFAULT =====  */
body#projects-bg-default {
  background: url(/img/profile-pic.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-img {
  background: url(/img/jumbotron.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

#bg-time {
  text-align: center;
  text-shadow: rgb(255, 255, 255) 3px 3px 3px;
  font-size: 80px;
  padding-top: 10vh;
}

#weather {
  height: 40vh;
}