@keyframes slideup {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 -100%;
  }
}

@keyframes slidedown {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slidein {
  from {
    translate: 0 100vw;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes growshrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 150%;
  }
}

@keyframes rotate10 {
  25% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(10deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
