body {
  background-color: pink;
  color: blueviolet;
}

.cover {
  background: url(/resources/img/jumbotron.jpg) center no-repeat;
  background-size: cover;
}

/* JUMBOTRON */
#jumbotron {
  background: url(/resources/img/jumbotron.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: rgb(255, 215, 220);
}

#jumbotron .highlight {
  border-radius: 25px;
  padding: 0px 10px;
  background-color: rgb(0, 180, 180);
}

#jumbotron h1 {
  color: rgb(128, 50, 128);
  padding-top: 15vh;
}

#jumbotron h1 > .highlight {
  background-color: rgb(255, 215, 220);
  font-size: 115%;
  font-family: "Caveat", cursive;
}

#jumbotron p {
  font-size: 105%;
  font-family: "Merienda", cursive;
}

#jumbotron p,
#jumbotron h1 {
  animation: slidein 1s;
}

#jumbotron #button {
  font-family: "Indie Flower", cursive;
}

/* sm and up */
@media (min-width: 576px) {
  #jumbotron #button a {
    animation: growshrink 3s;
    transition: all 0.5s ease-in-out;
  }

  #jumbotron #button a:hover {
    transform: scale(1.5);
    background-color: rgb(100, 255, 0);
    border-color: rgb(100, 255, 0);
    color: rgb(100, 0, 255);
  }
}

/* sm only */
@media (min-width: 576px) and (max-width: 767.98px) {
  #jumbotron p {
    font-size: 90%;
  }
}

/* xs only */
@media (max-width: 575.98px) {
  #jumbotron p {
    font-size: 3.5vw;
  }
  #jumbotron #button a {
    font-size: 4vw;
  }
}

/* ABOUT */ /* xs only */
@media (max-width: 575.98px) {
  #about #profile-pic-container {
    display: grid;
    justify-content: center;
  }
}

#about #profile-pic {
  border-radius: 50%;
  width: 120px;
}

#about #self-intro {
  font-family: "Lora", serif;
}

#about #self-intro .highlight {
  color: rgb(185, 155, 0);
  transition: all 0.5s ease-in-out;
}

#about #self-intro .highlight:hover {
  color: rgb(200, 0, 200);
}

/* PROJECTS */
#projects {
  background: url(/resources/img/project-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 200vh;
  display: grid;
}

#projects #title {
  font-family: "Pacifico", cursive;
}

#projects.default #title {
  display: none;
}

#projects.active #title {
  animation: fadeIn 0.5s;
  display: grid;
}

#projects.inactive #title {
  animation: fadeOut 0.5s forwards;
  display: grid;
}

#projects h1 {
  background-color: antiquewhite;
  border-radius: 50px;
  padding: 10px;
}

/* CONTACTS */
#contacts {
  min-height: 100vh;
}

#contacts > div {
  display: none;
}

#contacts.active > div {
  display: block;
  animation: slidein 1s;
}

#contacts #icon {
  height: 30px;
  display: block;
}

/* TILES */
#content,
#content-buffer,
#content-buffer-upper {
  background: url(/resources/img/pink-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Caveat", cursive;
}

#content-buffer {
  height: 40vh;
}

#content #fixed {
  display: none;
  transition: all 0.5s ease-in-out;
}

#content.active #fixed {
  animation: slidein 1s;
  display: block;
}

#content.inactive #fixed {
  animation: fadeOut 0.5s;
  display: block;
}

#content #tiles {
  min-height: 80vh;
  display: grid;
}

#content #tiles .highlight {
  border-radius: 25px;
  padding: 0px 10px;
  background-color: rgb(255, 255, 0, 0.8);
}

#content #home-tiles > div {
  height: 250px;
}

#content #home-tiles .tile-link {
  text-decoration: none;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  color: white;
  font-size: xx-large;
  transition: all 0.5s ease-in-out;
}

/* xs only */
@media (max-width: 575.98px) {
  #content #home-tiles > div {
    height: 175px;
  }

  #content #home-tiles .tile-link {
    width: 150px;
    height: 150px;
  }
}

#content #home-tiles .tile-link:hover {
  transform: scale(1.2);
}

#content #home-tiles .highlight {
  border-radius: 25px;
  padding: 0px 10px;
  background-color: rgba(0, 180, 180, 0.8);
}

#content #projects-tile {
  background-image: url(/resources/img/profile-pic.jpg);
}

#content #music-tile {
  background-image: url(/resources/img/profile-pic.jpg);
}

#content #travels-tile {
  background-image: url(/resources/img/profile-pic.jpg);
}
